DB/Laba7/ex7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Visitor">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="VID" type="xs:unsignedShort" />
        <xs:element name="LastName" type="xs:string" />
        <xs:element name="FirstName" type="xs:string" />
        <xs:element name="SecondName" type="xs:string" />
        <xs:element minOccurs="0" name="Email" type="xs:string" />
        <xs:element minOccurs="0" name="Password" type="xs:string" />
        <xs:element minOccurs="0" name="PhoneNumber" type="xs:unsignedLong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>