DB/Laba5/TASK3/VSexample.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Meeting">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TimeStart" type="xs:string" />
        <xs:element name="TimeEnd" type="xs:string" />
        <xs:element name="Location" type="xs:string" />
        <xs:element name="Manager">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="LastName" type="xs:string" />
              <xs:element name="FirstName" type="xs:string" />
              <xs:element name="PhoneNumber" type="xs:unsignedLong" />
            </xs:sequence>
            <xs:attribute name="M_Confirmation" type="xs:boolean" use="required" />
            <xs:attribute name="MID" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="Visitor">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="LastName" type="xs:string" />
              <xs:element name="FirstName" type="xs:string" />
              <xs:element name="PhoneNumber" type="xs:unsignedLong" />
            </xs:sequence>
            <xs:attribute name="V_Confirmation" type="xs:boolean" use="required" />
            <xs:attribute name="MID" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="Meet_ID" type="xs:unsignedByte" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>